@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.ant-select{
  @apply text-base; /* Điều này tương ứng với font-size: 16px */
}
