.containerCustom {
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
  height: 6vh;
  z-index: 1000;
  border-bottom: #e6e6e6 1px solid;
}
.content {
  flex-grow: 1; /* Để chiếm phần còn lại của không gian */
  width: 100%;
}

.bottom-bar {
  text-align: center; /* Căn giữa nội dung của thanh bar */
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff; /* Màu nền cho phần nội dung chính */
  width: 100%;
  border-top: #e6e6e6 1px solid;
}